<% include libaryHtml.ejs %>
  <% include header.ejs %>
<!--Chi tiết-->
<div class="NenXam">
    <div class="container chitiet">
        <div class="row">
            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12" >            
                <div class="clearfix" style="max-width:474px;">
                    <% for (var i=0; i < data.length; i++){ %> 
                        <p><%= data[i].product_name %></p>
                    <% } %>
                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                    <% for (var i=0; i < data.length; i++){ %> <!-- duyệt mảng product-->
                    <% for (let img of data[i].image.map(s => s.trim()).filter(i => i)){ %><!-- duyệt mảng product ảnh để in ra-->
                      
                            <li class="thumb_img"data-thumb="/image_Product/<%= img %>"> 
                                <img src="/image_Product/<%= img %>" class="img-fluid thumnailImg" >  
                            </li>  
                        
                    <% } %>
                </ul>
                    <div class="mt-3 add_buy text-center">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 detail_add_to_cart">
                                <form action="/add-to-cart/<%= data[i].id%>">
                                    <button class="add_cart">Thêm vào giỏ hàng</button>
                                </form>
                                
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 detail_buy_now">
                                <form action="/add-to-cart/<%= data[i].id%>">
                                    <button class="buy_now">Mua ngay</button>
                                </form>
                                
                            </div>
                            
                            
                        </div>
                    </div>
                    
                    <% } %>
                </div>
            </div>
          
            <div class="Thong_So col-lg-6 col-md-6 col-sm-12 col-xs-12">
               <div class="info_device">
                   <p class=''>Thông số kỹ thuật</p>
                   <ul class="ul_info_device">
                  
                    <% for (var i=0; i < data.length; i++){ %> 
                        
                        <% for (var j = 0; j < dataBrand.length; j++){ %> <!--Kiểm tra sản phẩm thuộc hãng nào-->
                            <% if ( data[i].id_category ==  dataBrand[j]._id) { %>
                                <li><label>Hãng sản xuất:</label> <span><%= dataBrand[j].category_name %></span></li>
                               
                            <% } %>
                        <% } %> 
                       
                    
                        <% if(data[i].promotion_price === '' ) {%> <!--Check xem sản phẩm có giá khuyến mãi hay không, nếu có thì in ra, ko có thì in giá gốc-->
                               
                            <li><label>Giá:</label> <span><%= data[i].price%> VNĐ</span></li>
                        <% }else { %>
                            <li><label>Giá Khuyến mãi:</label> <span><%= data[i].promotion_price%> VNĐ</span></li>
                        <%  } %>
                        <li><label>Màn hình:</label> <span><%= data[i].moniter%></span></li>
                        <li><label>Camera trước:</label> <span><%=data[i].camera_truoc%></span></li>
                        <li><label>Camera sau:</label> <span><%= data[i].camera_sau%></span></li>
                        <li><label>RAM:</label> <span><%= data[i].ram%></span></li>
                        <li><label>Bộ nhớ trong:</label> <span><%= data[i].memory%></span></li>
                        <li><label>CPU:</label> <span><%= data[i].cpu  %></span></li>
                        <li><label>GPU:</label> <span><%= data[i].gpu %></span></li>
                        <li><label>Dung lượng pin:</label> <span><%= data[i].pin %></span></li>
                        <li><label>Hệ điều hành:</label> <span><%= data[i].operation%></span></li>
                        <li><label>Thẻ SIM:</label> <span><%= data[i].sim %></span></li>
                        <li><label>Thẻ nhớ:</label> <span><%= data[i].micro_sd %></span></li>
                        <li><label>Xuất xứ:</label> <span><%= data[i].origin %></span></li>
                        <li><label>Năm sản xuất:</label> <span><%= data[i].year %></span></li>
                        <li><label>Số lượng còn lại:</label> <span><%= data[i].quantity %></span></li> 
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>  
                        <div class="fb-like" 
                        data-href="http://23.98.66.105:3000/detailPR/<%= data[i]._id%>" 
                        data-width=""
                        data-layout="standard" 
                        data-action="like" 
                        data-size="small"  
                        data-share="true">
                        </div>
                        
                    <% } %>
                   </ul>
                   
                    
               </div>
            </div>
            
    
        </div>
        <div class=""><!--Khối bình luận-->
            <% if (typeof user != 'undefined') { %>
               
                <div class="comment mt-5"> <!--Khối comment-->
                    <form action="/comment/<%- postId %>" method="post" >
                        <div class="">
                            <p class="name_author"><strong><%= user.Name %></strong></p>
                            <textarea name="textArea_comment" id="textArea_comment" style="width: 100%;  border-radius:5px;" placeholder="  Bắt đầu thảo luận..." ></textarea>
                            <input name="userID"type="hidden" value="<%= user._id %>">
                            <input name="nameUser"type="hidden" value="<%= user.Name %>">
                            <button style= "float:right; margin-bottom: 10px;" type="submit" class="btn btn-secondary btn_binhluan" id="btn_cmt">Bình luận</button>
                            <hr style= "clear:both; background-color:#fd7e14ad;">
                        </div>
                    </form>
                </div><!--End Khối comment-->
               
                <div class="">
                    <% for (var i = dataComment.length; i > 0 ; i--){ %>  <!--Duyệt mảng dataComment -->
                        <% if (dataComment[i-1].postId ==  postId) { %> <!--Kiểm tra xem postId của mảng dataComment có trùng khớp với id bài post hiện tại ko, nếu có thi in ra những cmt liên quan tới bài post đó-->
                        <div class="comments">
                            <p><Strong  class="name_author"><%= dataComment[i-1].nameUser %></Strong> <label class="time_comment" for=""><%=moment(dataComment[i-1].time_comment ).format(' h:mm:ss a, DD/MM/YYYY') %></label></p>
                            <p style="margin-top:-20px;"class="content_comment"><%= dataComment[i-1].comment %></p>
    
                            <p style="font-size: 16px;margin-left: 20px;">
                                    <% if ( user._id == dataComment[i-1].userId) { %> <!--Nếu tài khoản user đang đăng nhập trùng khớp với tài khoản user comment thì mới cho phép hiển thị nút sửa,xóa-->
                                       <a href=""  data-toggle="modal" data-target="#modal<%= dataComment[i-1]._id %>">Sửa</a> | <a  href="/deleteComment/<%= dataComment[i-1]._id %>/<%- postId %>">Xóa</a> |
                                    <% }  %> 
                                    <% var s=0 %>
                                    <% for (var j=dataCommentReply.length; j > 0  ; j--){ %>  
                                        <% if ( dataCommentReply[j-1].comment_parent_id == dataComment[i-1]._id) { %>
                                           <% var s=s+1 %>
                                       <% }  %> 
                                    <% }  %> 
                                    
                                    <a href="#" class="comment-reply-btn">lượt trả lời:  <%= s %></a>
                                    <div class="Reply_Comment ml-5" ><!--Khối reply comment-->
                                        <div class="">
                                            <form action="/Replycomment/<%= dataComment[i-1]._id%>/<%- postId %>" method="post"> <!--Form phản hồi-->
                                                <p><strong><%= user.Name %></strong></p>
                                                <textarea name="textArea_Reply" style="width: 100%; border-radius:5px; " placeholder="Phản hồi bình luận..." ></textarea>
                                                <input name="userReplyID"type="hidden" value="<%= user._id %>">
                                                <input name="nameUserReply"type="hidden" value="<%= user.Name %>">
                                                <button style= "float:right; margin-bottom: 10px;" type="submit" class="btn btn-secondary btn_binhluan">Phản hồi</button>
                                            </form>
                                        </div>
                                      
                                        <% if (dataCommentReply != 'null') { %>
                                            <% for (var j=dataCommentReply.length; j > 0  ; j--){ %>  
                                                <% if ( dataCommentReply[j-1].comment_parent_id == dataComment[i-1]._id) { %>
                                                <div class="reply_item mb-3" style="background-color:#F3F4F4; border-radius:10px; clear: both;">
                                                    <div class=" ml-3 mr-2" style="padding-top:8px;">                         
                                                        <p class="info">Đã trả lời: <strong><%= dataCommentReply[j-1].nameUser_reply%></strong> - <lable style="color:gray;"><%=moment(dataCommentReply[j-1].time_comment_reply ).format(' h:mm:ss a, DD/MM/YYYY') %></lable></p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 ml-4">
                                                            <p  style="margin-top:-20px;" ><%= dataCommentReply[j-1].comment_reply %></p>
                                                            <p style="font-size: 16px; margin-left: 20px; float: right; margin-right: 50px;">
                                                                <% if ( user._id ==dataCommentReply[j-1].userId_reply) { %> <!--Nếu tài khoản user đang đăng nhập trùng khớp với tài khoản user comment thì mới cho phép hiển thị nút sửa,xóa-->
                                                                   <a href=""data-toggle="modal" data-target="#modal<%= dataCommentReply[j-1]._id %>">Sửa</a> | <a href="/deleteCommentReply/<%= dataCommentReply[j-1]._id %>/<%- postId %>"> Xóa</a> 
                                                                <% }  %> 
                                                                
                                                            </p>
                                                                 
                                                     <!-- Modal -->
                                                            <div class="modal fade" id="modal<%= dataCommentReply[j-1]._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <form  action="/editCommentReply/<%= dataCommentReply[j-1]._id %>/<%- postId %>" method="post">
                                                                            <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa bình luận</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                            <textarea style="width: 100%; border-radius:5px; padding-top:20px; padding-bottom:20px;"name="text_edit_commentReply"><%= dataCommentReply[j-1].comment_reply %></textarea>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                                            <button type="submit" class="btn btn-primary">Lưu lại</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <!-- End Modal -->
                                                      </div>
                                                    </div>
                                                  
                                                </div>
                                                <% }  %> 
                                            <% }  %> 
                                            
                                        <% } else {  %> 
                                        <% }  %> 
                                    </div><!--End Khối reply comment-->
                            </p>
                             <!-- Modal -->
                             <div class="modal fade" id="modal<%= dataComment[i-1]._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form  action="/editComment/<%= dataComment[i-1]._id %>/<%- postId %>" method="post">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa bình luận</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                        <textarea style="width: 100%; border-radius:5px; padding-top:20px; padding-bottom:20px;"name="text_edit_comment"><%= dataComment[i-1].comment %></textarea>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        <button type="submit" class="btn btn-primary">Lưu lại</button>
                                        </div>
                                </form>
                                </div>
                                </div>
                            </div>
                             <!--End  Modal -->
                          
                               
                                

                            <hr style="clear: both;">
                       </div>
                       <% }  %> 
                    <% }  %> 
            <% } else { %>
                 <p>Bạn phải đăng nhập mới có thể bình luận và thấy được bình luận từ những người khác !!!</p>
            <% }  %> 

           
          
            </div>
        </div> <!--End khối bình luận-->
        
    </div>
</div>

<!--End Chi tiết-->
  <!--footer-->
  <% for(i=0; i < list_Alldata_search.length;i++){ %>
    <p class="list"><%= list_Alldata_search[i] %></p>
  <% } %>
  <% include footer.ejs %> 
  <!--End footer-->

  </body>
</html>